h1 {
  text-align: center;
  text-decoration: underline;
}

h2 {
  text-align: center;
}

body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;

  /* background-image: url("imgs/ripples.png"); */
}

img {
  width: 60%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* width: 50%; */
}

.underline {
  text-decoration: underline;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*
.storyboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
}

.underline {
  text-decoration: underline;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img {
  margin: 2% 0%;
} */

/* 
i {
  padding: 2%;
}

p {
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img {
  margin: 2% 0%;
}

ol {
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ul {
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}



.underline {
  text-decoration: underline;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
} */
